@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Montserrat:400,500,700|Cousine:400,700,700i');
@import 'vars';

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 120%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #2c3e50;
}

a {
  text-decoration: none;
  color: #2c3e50;

  &:hover {
    text-decoration: underline;
  }
}

.in-section-name {
  font-family: 'Cousine', monospace;
  font-style: italic;
  font-weight: 700;
  text-shadow: 1.5px 1.5px 1px #d3d3d3;
}

.subtitle {
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  padding: 10px;
  max-width: 700px;

  .header-soc-ciencia {
    .soc-logo {
      width: 100%;
    }
  }
}
